<!-- here is to see what we the dummy data created in the recipe-list.component.ts so we loop through item and use them to display the recipes -->
<div class='row'>
    <div class='col-xs-12'>
        <button class="btn btn-success">New Order</button>
    </div>    
</div>
<hr>
<div class='row'>
    <div class='col-xs-12'>
        
        <app-recipe-item 
        *ngFor ="let recipeEl of recipes"
        [recipe]="recipeEl"
        (recipeSelected)="(onRecipeSelected(recipeEl))"></app-recipe-item>
    </div>
</div>


